/* 全局变量 */
:root {
	/* 主题色 */
	--primary-color: oklch(62.3% 0.214 259.815);
	--primary-border-color: oklch(92.8% 0.006 264.531);
	--primary-text-color: oklch(21.6% 0.006 56.043);
	--primary-bg-color: #fff;
}
